@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

h1 {
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}

main {
  min-height: 100vh;
  // background-color: rgb(248, 248, 193);
  // background: rgb(131, 58, 180);
  // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  // background: rgb(131, 58, 180);
  // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(58, 253, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  // background: rgb(131, 58, 180);
  // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(235, 253, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  // background: rgb(131, 58, 180);
  // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 65, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 50, 1) 50%, rgba(252, 176, 69, 1) 100%);
  opacity: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
}

figure {
  color: rgb(210, 194, 50);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  grid-area: 1/1;
  //background-color: white;
}

.fas {
  padding-left: 2rem;
  padding-right: 2rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: black;
  border-width: 4px;
  padding-bottom: 2rem;
}

.selector {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-direction: direction;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
}

.hue,
.saturation,
.light {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  width: auto;
  font-size: 1rem;
}
