:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 3rem;
  min-height: 100%;
}
section {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}
i {
  background-color: rgb(169, 15, 15);
  color: purple;
  size: 50rem;
  padding: 3rem;
}
